.page-layout {
  padding: 2rem 1rem;
}
.page-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  button {
    height: fit-content;
  }
}

mat-expansion-panel {
  width: 33%;
}
mat-expansion-panel-header {
  height: 3rem !important;
  padding: 1rem !important;
}

.mat-expansion-panel-header > .mat-icon {
  transition: 1s;
  transform: rotate(0deg);
}
