.page-layout {
  padding: 2rem 1rem;
}
.page-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;

  button {
    height: fit-content;
  }
}

mat-expansion-panel {
  margin: 3rem !important;
}

mat-expansion-panel-header {
  height: 3rem !important;
  padding: 1rem !important;
}

mat-form-field {
  width: 100%;
}

mat-panel-title {
  display: block !important;
  font-size: 1.3rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-expansion-panel-header > .mat-icon {
  transition: 1s;
  transform: rotate(0deg);
}

.app-bookmarks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "work"
    "leisure"
    "personal";
}

@media only screen and (min-width: 600px) {
  .app-bookmarks {
    grid-template-columns: 33% 33% 33%;
    row-gap: 2rem;
    justify-content: space-between;
    grid-template-areas: "work leisure personal";
  }
}

.work {
  margin-top: 3rem;
  grid-area: work;
}
.leisure {
  margin-top: 3rem;
  grid-area: leisure;
}
.personal {
  margin-top: 3rem;
  grid-area: personal;
}
