<div class="page-header">
  <span class="mat-display-1">{{ header }}</span>
  <button mat-icon-button color="primary" (click)="openDialog()">
    <mat-icon>bookmark_add</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="app-bookmarks">
  <!-- grouped by "work" -->
  <div class="work">
    <div class="chips">
      <mat-chip-list>
        <mat-chip>Work</mat-chip>
      </mat-chip-list>
    </div>
    <app-bookmark-item
      *ngFor="let bookmark of bookmarksWork$ | async"
      [bookmark]="bookmark"
    ></app-bookmark-item>
  </div>
  <!-- grouped by "leisure" -->
  <div class="leisure">
    <div class="chips">
      <mat-chip-list>
        <mat-chip>Leisure</mat-chip>
      </mat-chip-list>
    </div>
    <app-bookmark-item
      *ngFor="let bookmark of bookmarksLeisure$ | async"
      [bookmark]="bookmark"
    ></app-bookmark-item>
  </div>
  <!-- grouped by "personal" -->
  <div class="personal">
    <div class="chips">
      <mat-chip-list>
        <mat-chip>Personal</mat-chip>
      </mat-chip-list>
    </div>
    <app-bookmark-item
      *ngFor="let bookmark of bookmarksPersonal$ | async"
      [bookmark]="bookmark"
    ></app-bookmark-item>
  </div>
</div>
