<mat-expansion-panel
  [expanded]="step === 1"
  (opened)="setStep(1)"
  (closed)="setStep(0)"
  hideToggle
>
  <mat-expansion-panel-header>
    <mat-panel-title matTooltip="{{ bookmark?.name }}">{{
      bookmark?.name
    }}</mat-panel-title>
    <!-- Animation through angular animation => see .ts file -->
    <mat-icon [@openClose]="step ? 'open' : 'closed'">bookmark</mat-icon>
  </mat-expansion-panel-header>

  <div class="url-container">
    <mat-icon>stop_circle</mat-icon>
    <mat-panel-description> {{ bookmark?.url }} </mat-panel-description>
  </div>

  <mat-divider></mat-divider>

  <div class="group-container">
    <mat-icon>group_work</mat-icon>
    <mat-panel-description>
      {{ bookmark?.group }}
    </mat-panel-description>
  </div>

  <mat-action-row>
    <div *ngFor="let button of buttons">
      <button
        mat-mini-fab
        color="{{ button.color }}"
        (click)="button.title === 'Edit' ? onEdit() : onDelete()"
      >
        <mat-icon>{{ button.icon }}</mat-icon>
      </button>
    </div>
  </mat-action-row>
</mat-expansion-panel>
